@font-face {
    font-family: 'robotoBold';
    src: url(/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'robotoBI';
    src: url(/font/Roboto-BoldItalic.ttf);
}

body {
    background-color: black;
}

header {
    font-family: 'robotoBold';
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px;
    padding: 30px 30px;
}

img {
    border: none;
}

h2 {
    color: aliceblue;
    font-family: 'robotoBI';
    font-size: 30px;
    text-align: center;
}

.scores {
    display: flex;
    gap: 150px;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
}


.buttons {
    justify-content: center;
    align-items: center;
}

.user-placeholder {
    width: 150px;
    height: 250px;
    background-color: gray;
    background-image: url("path/to/placeholder-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .comp-placeholder {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
    background-color: gray;
    background-image: url("path/to/placeholder-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .user {
    display: inline-block;
  }

  /* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  
  /* Modal */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Image */
  .modal img {
    width: 500px;
    
    margin-bottom: 10px;
  }
  